@{
    ViewBag.Title = "Справка";
}
<div class="content">
<h2>Справка</h2>

<h3><i>Описание системы.</i></h3>

<p>
    Система представляет собой интранет-приложение, позволяющее создавать
	планы почасового потребления электроэнергии на различных
	структурных подразделений производства и отслеживать
	энергоэффективность их выполнения. Система состоит из четырёх подсистем:</p>
<ul>
	<li>
    Подсистемы получения данных,
	предназначенной для извлечения данных из хранилища информации АСКУЭ
	и их первичной обработки.
    </li>
	<li>
    Подсистемы
	хранения обработанных данных.
    </li>
	<li>
    Подсистемы
	визуализации, предназначенной для формирования на основании данных
	из подсистемы получения данных показателей и их отображения в
	графическом виде пользователю.
    </li>
	<li>
    Подсистемы
	прогнозирования почасового потребления электроэнергии.
    </li>
</ul>
<p>
    Подсистема визуализации с 3 минутным интервалом опрашивает подсистему хранения
    данных, формирует показатели и в виде графикоф информирует
    пользователя о текущем расходе электроэнергии и отклонении от заявки.</p>
<p>
    Доступ к системе осуществляется на основании механизма пользователей и ролей Windows.
</p>

<h3><i>Основное меню программы</i></h3>

<p>На рисунке 1 показано основное меню программы ППЭ. Меню ППЭ содержит пять кнопок:</p>
<ul>
	<li>Мониторинг</li>
    <li>Планирование</li>
    <li>Прогнозы</li>
    <li>Справка</li>
    <li>О Программе</li>
</ul>
    <img src="@Url.Content("~/Content/img/help_menu.jpg")" style="height: auto; width: 803px;" alt="Рисунок	1" class="img-polaroid" />
    рис.1

<h3><i>Планирование</i></h3>
<h4><i>Создание заявки</i></h4>
    
<p>
	Для создания заявки перейдите в	меню &laquo;Планирование&raquo; (рис. 2).
    И нажмите кнопку &laquo;Создать	Заявку&raquo;. Вам откроется окно создания заявки (рис. 3).
    Для	создания заявки требуется указать <i>Объект, </i> для которого
	создаётся заявка, и <i>Дату</i>, на которую создаётся заявка. При
	указаниии только <i>Объекта</i> и <i>Даты Заявка </i>будет создана
	пустой, т.&nbsp;е. Заполненная нулями. Для содания заявки на
	основании <i>Заявки</i>, <i>Прогноза</i> или <i>Факта</i>
	потребления электроэнергии требуется поставить галочку в поле
	&laquo;<i>Скопировать из докумета</i>&raquo;, указать
	источник(<i>Заявка</i>, <i>Прогноз</i> или <i>Факт</i>) и указать
	<i>Дату</i>, на основании которой нужно построить <i>Заявку</i>.
</p>
	<img src="@Url.Content("~/Content/img/help_planning.jpg")" style="height: auto; width: 803px;" alt="Рисунок	2" class="img-polaroid"/>
    рисунок 2.
	<img src="@Url.Content("~/Content/img/help_tender.jpg")" style="height: auto; width: 803px;" alt="Рисунок 3" class="img-polaroid"/>
    рисунок 3.
	
<h4><i>Редактирование заявки</i></h4>
<p>
    После создания заявки открывается окно редактирования(рисунок 4).
    Также можно открыть окно редктирования Заявки перейдя в меню
    &laquo;<i>Планирование</i>&raquo;и	нажав кнопку &laquo;<i>Редактирование</i>&raquo;
    напротив нужной <i>Заявки</i>(смотрите рис. 2)
</p> 
    <img src="@Url.Content("~/Content/img/help_edit.jpg")" alt="Рисунок 4" style="height: auto; width: 803px;" class="img-polaroid"/>
    рисунок 4.
<p>
    В поля напротив времени	вводятся запланированное потребление электроэнергии.
    После ввода всех значений нужно нажать кнопку &laquo;<i>Сохранить</i>&raquo;.
</p>
	
<h4><i>Просмотр и печать заявки</i></h4>

<p>
    На странице просмотра списка заявок(рисунок 2) находятся
    функции просмотра и печати заявки. Для просмотра и печати 
    заявки требуется нажать кнопку &laquo;<i>Просмотр</i>&raquo;.
</p>

<h4><i>Отчёты</i></h4>

<p>
    На странице просмотра списка заявок(рисунок 2) находятся функции просмотра
    Отклонения Факта от	Заявки. В выпадающем меню кнопки &laquo;<i>План-Факт</i>&raquo;
	можно просмотреть сравнение Заявки и Факта в табличном и графическом
	виде.
</p> 

<h3><i>Прогнозирование</i></h3>
<h4><i>Просмотр прогнозов</i></h4>

<p>
    Для просмотра прогнозов
	требуется перейти в меню &laquo;<i>Прогнозирование</i>&raquo;. В
	поле &laquo;<i>Параметр</i>&raquo; нужно выбрать модель
	прогнозирования, в поле &laquo;<i>Дата</i>&raquo; выбрать дату
	прогноза, затем нажать кнопку &laquo;<i>Просмотр</i>&raquo;.
</p>
<img src="@Url.Content("~/Content/img/help_forecasting.jpg")" alt="Рисунок	5" style="height: auto; width: 803px;" class="img-polaroid"/>
Рисунок	5.

<h4><i>Принцип построения прогнозов</i></h4>

<p>
    Подсистема прогнозирования
	строит прогнозы в начале каждых суток на дое суток вперёд. Для
	прогнозирования применяются временные ряды и нейронные сети, в
	частности Карты Кохонена. Для разных моделей используются разные
	входные данные. Так в расчётах модели учитывается 3 предыдущих часа
	работы, 3 предыдущих часа работы за аналогичный период день назад и
	3 предыдущих часа работы за аналогичный период неделю назад.
</p>
</div>