@model WebUI.Models.PlanViewModel
@{
    ViewBag.Title = "Лимиты (Нормы)";
}

<div class="content">
<h2>Заявки</h2>

<p>
    @Html.ActionLink("Создать Заявку", "Create", null, new { @class="btn" })
</p>
@using (Html.BeginForm("Index", "Plan", FormMethod.Get, new { @class = "form-search" }))
{
    <label>Передел:</label>
      <div class="input-prepend">
        <span class="add-on"><i class="icon-cog"></i></span>
        @Html.DropDownList("GroupID", new SelectList(ViewBag.Groups, "GroupID", "Name", Model.GroupID), new { @class = "input-medium", style = "width:375px;" })
      </div>
    <label>C:</label>
    <div class="input-prepend">
      <span class="add-on"><i class="icon-calendar"></i></span>
      @Html.Editor("Start")
    </div>
    <label>По:</label>
    <div class="input-prepend">
      <span class="add-on"><i class="icon-calendar"></i></span>
      @Html.Editor("End")
    </div>
        
    <input type="submit" class="btn btn-primary" value="Поиск" />
}

<table class="table table-condensed">
  <thead>
    <tr>
        <th>Дата</th>
        <th>Документ</th>
        <th>Суммарное потребление, кВт*час</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Documents)
    {
        <tr>
            <td> @item.Date.ToShortDateString() </td>
            <td>Заявка на @item.Date.ToShortDateString(): @ViewBag.GroupName </td>
            <td>@item.Value</td>
            <td>
                <div class="btn-toolbar" style="margin-top: 0px; margin-bottom: 0px;">
                  <a class="btn btn-small" href="@Url.Action("Edit",new { id = @item.GroupID, date = @item.Date.ToLongDateString() })"><i class="icon-pencil"></i> Редактировать</a>
                  <a class="btn btn-small" href="@Url.Action("Print", new { id = @item.GroupID, date = @item.Date.ToShortDateString() })"><i class="icon-search"></i> Просмотр</a>
                      <div class="btn-group">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                        План-Факт
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <li> <a href="@Url.Action("Print", new { id = @item.GroupID, date = @item.Date.ToLongDateString(), report = "PlanFact" })"><i class="icon-th-list"></i> Таблица</a> </li>
                          <li> <a href="@Url.Action("Print", new { id = @item.GroupID, date = @item.Date.ToLongDateString(), report = "PlanFactPlot" })"><i class="icon-signal"></i> График</a> </li>
                        </ul>
                      </div>
                </div>
                  
@*                  @Html.ActionLink("Редактировать", "Edit", new { id = @item.GroupID, date = @item.Date.ToLongDateString()}, new { @class ="btn btn-small" })
                  @Html.ActionLink("Просмотр", "Print", new { id = @item.GroupID, date = @item.Date.ToShortDateString() }, new { @class = "btn btn-small" })
                  @Html.ActionLink("План-Факт", "Print", new { id = @item.GroupID, date = @item.Date.ToShortDateString(), report = "PlanFact" }, new { @class = "btn btn-small" })*@
            </td>

        </tr>
    }
  </tbody>
</table>
</div>
